<h2>Friend List</h2>
<div class="listAmi">
    <p *ngIf="!dinosaures[0]">You currently don't have any friend</p>
    <div *ngFor="let dinosaure of dinosaures">
        <div class="name" (click)="onSelect(dinosaure)">
            {{dinosaure.name}}
        </div>
        <ul class="detail" [class.selected]="dinosaure === selectedDinosaure">
            <li><label>Age :</label> {{dinosaure.age}}</li>
            <li><label>Famille :</label> {{dinosaure.famille}}</li>
            <li><label>Nourriture :</label> {{dinosaure.nourriture}}</li>
            <li><label>Race :</label> {{dinosaure.race}}</li>
            <li><button (click)="deleteFriend(dinosaure._id)" class="add">Delete Friend</button></li>
        </ul>
    </div>

</div>

