h2{
    margin: 50px auto;
    text-align: center;
}

.listDinosaures{
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    border:1px solid #eee;

    
}

.listDinosaures li{
    
    height: 50px;

}

.name:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
ul.selected {

    display:inline
}

.detail {
    display:none
}