<h2>List dinosaures</h2>
<div class="listDinosaures">

    <div *ngFor="let dinosaure of dinosaures">
        <div class="name" (click)="onSelect(dinosaure)">
            {{dinosaure.name}}
        </div>
        <ul class="detail" [class.selected]="dinosaure === selectedDinosaure">
            <li>Age: {{dinosaure.age}}</li>
            <li>Famille: {{dinosaure.famille}}</li>
            <li>Nourriture: {{dinosaure.nourriture}}</li>
            <li>Race: {{dinosaure.race}}</li>
            <li><button (click)="addFriend(dinosaure._id)" class="add">Add Friend</button></li>
        </ul>
    </div>

</div>

