<h2>User list</h2>
<div class="listDinosaures">

    <div *ngFor="let dinosaure of dinosaures">
        <div class="dinosaure" *ngIf="dinosaure._id">
            <div class="name" (click)="onSelect(dinosaure)">
                {{dinosaure.name}}
            </div>
            <ul class="detail" [class.selected]="dinosaure === selectedDinosaure">
                <li><label>Age :</label> {{dinosaure.age}}</li>
                <li><label>Famille :</label> {{dinosaure.famille}}</li>
                <li><label>Nourriture :</label> {{dinosaure.nourriture}}</li>
                <li><label>Race :</label> {{dinosaure.race}}</li>
                <li><button (click)="addFriend(dinosaure._id)" class="add">Add Friend</button></li>
            </ul>
        </div>
    </div>

</div>

