<h2>Information</h2>
<div class="information">
    <ul>
        <li><label>Name :</label> <input type="text" [(ngModel)]="dinosaure.name"></li>
        <li><label>Age :</label> <input type="text" [(ngModel)]="dinosaure.age"></li>
        <li><label>Race :</label> <input type="text" [(ngModel)]="dinosaure.race"></li>
        <li><label>Famille :</label> <input type="text" [(ngModel)]="dinosaure.famille"></li>
        <li><label>Nourriture :</label> <input type="text" [(ngModel)]="dinosaure.nourriture"></li>
    </ul>
    <button (click)="setInformation()">Save</button>
</div>
