/* You can add global styles to this file, and also import other style files */
*{
    margin: 0px;
    padding: 0px;
}

ul,li{
    list-style-type: none;
}


.name{
    margin: 5px auto;
    text-align: center;
    font-size: 22px;
    border:1px solid rgb(33, 54, 82);

}

.detail li{
    margin-left: 10%;
    margin-bottom: 10px;
}

.name:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 167, 133);
    left: .1em;
  }

ul.selected {

    display:inline
}

.detail{
    display:none;
    
}
label{
    color: rgb(23, 54, 95);
    font-weight: 700;
}